mixin js(path)
  if !~path.indexOf('://')
    - path = static_url + '/' + path + '.js?' + version
  script(src=path)

mixin css(path)
  if !~path.indexOf('://')
    - path = static_url + '/' + path + '.css?' + version
  link(href=path, type='text/css', rel='stylesheet')

block vars
  - title = null
  - active = null

doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      base(href=url)

      title #{ title ? title + ' - ' : '' }Colored Coins LN
      +css('bootstrap/css/bootstrap.min')
      +css('-')
  body
    nav.navbar.navbar-default: .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          | #[span.icon-bar]#[span.icon-bar]#[span.icon-bar]

        a.navbar-brand(href=url) Colu USD wallet

      #navbar.navbar-collapse.collapse.navbar-right
        ul.nav.navbar-nav
          li(class=(active_page=='faq'?'active':'')): a(href='faq.html') FAQ
          li: a(href='http://slack.coloredcoins.org/') Slack
          li: a(href='mailto:contact@colu.com') Feedback

    block content

    +js('https://code.jquery.com/jquery-3.1.1.slim.min.js')
    +js('bootstrap/js/bootstrap.mini')

    if settings.env == 'production'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-63853577-3', 'auto');ga('send', 'pageview');

